*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
    margin: 0; 
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    overflow: hidden; 
}

#app {
    height: 100%;
}

.main-c {
    padding: 50px 20px 0px 20px; 
    height: 100vh;
    overflow: auto; 
  }
  
.z-ind {
    position: sticky;
    z-index: 100; 
  }

.container-c {
    max-width: 1000px;
    margin: 0 auto;
}

.btn-custom {
    text-align: center;
    margin-top: auto;
    font-size: 18px;
    font-weight: 700;
    color: whitesmoke;
    background-color: #5B8E81;
    border-radius: 10px;
    padding: 2px 8px;
    width: 60%;
    cursor: pointer; 
}

.src-icon {
    color:  #5B8E81;
    cursor: pointer; 
  }
